<h1>Series </h1>

In [26]:
import numpy as np
import pandas as pd

In [21]:
labels = [1,2,3]
my_data = ['apple','ball','cat']
#pd.Series(my_data)
pd.Series(data = my_data, index = labels)

1    apple
2     ball
3      cat
dtype: object

In [22]:
#for dictionary, automatically sets the keys as the index 
d = {'a':29,'b':99, 'c':69}
pd.Series(d)

a    29
b    99
c    69
dtype: int64

In [23]:
ser1 = pd.Series([1,2,3,4,5],['a','b','c','d','e'])
ser1['e']

5

<h1>DataFrames</h1>

In [27]:
import numpy as np
import pandas as pd

In [28]:
#rand -> random values in a given shape, randn -> sample from standard normal distribution
from numpy.random import randn

In [33]:
np.random.seed(101)
df = pd.DataFrame(data = randn(5,4), index = ['A','B','C','D','E'], columns = ['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [43]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64